@charset "UTF-8";
@font-face {
    font-family: Chic Studio;
    src: url("../font/ChicStudio-regular.eot");
    src: local("ChicStudio-regular"), url("../font/ChicStudio-regular.woff") format("woff"), url("../font/ChicStudio-regular.svg#webfontpB9xBi8Q") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:pingfang;
    src: url("../font/pingfang_medium-webfont.eot");
    src: local("pingfang-normal"), url("../font/pingfang_medium-webfont.woff") format("woff"), url("../font/pingfang_medium-webfont.svg#webfontpB9xBi8Q") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*    这里是arial字体*/
    font-family: Arial;
    src: url("../font/arial-webfont.eot");
    src: local("arial-webfont"), url("../font/arial-webfont.woff") format("woff"), url("../font/arial-webfont.svg#webfontpB9xBi8Q") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Meta;
    src: url("../font/meta-normal.woff");
    src: url("../font/meta-normal.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: Meta;
    src: url("../font/meta-bold.woff");
    src: url("../font/meta-bold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF, U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

html,
body,
div,
ol, ul, li,
a,
 form, input, h1, h2, h3, h4,em,i,b,strong {
  margin: 0;
  padding: 0;
  list-style: none;
 /*  font-size: 12px; */
  text-decoration: none;
  cursor: auto;
 /*  font-weight: normal; */
 font-family: 'Microsoft YaHei',Arial,pingfang,Chic Studio,sans-serif;
}
img{
   margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  cursor: auto;
  font-weight: normal;
 font-family:'Microsoft YaHei',Arial,pingfang,Chic Studio,sans-serif;
}
form,
label,
input,
textarea, h2,
span, p {
  padding: 0;
  margin: 0;
  font-family:  'Microsoft YaHei',Arial,sans-serif;
}

img {
  border: 0px;
}
a{
  cursor: pointer;
}
body{
   background-color: #384157;
  font-family:  'Microsoft YaHei',Arial,sans-serif;
}
*:focus { outline: none; } 
#top,#banner,#hQing,#product,#celebity,#famous{
  width: 100%;
  min-width: 1200px;
}
#bottom{
   width: 100%;
  min-width: 1200px;
}
#top{
  height: 49px;
  background: #FFF;
  position: relative;
  border-bottom: 1px solid #E9ECEE;
}
#top .content{
  position: absolute;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #D0D3D5;
  cursor: pointer;
}
h1 img{
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: 12px;
  margin-left: -40px;
}
#top .content .center{
  width: 940px;
  margin: 0 auto;
  height: 48px;
  font-family:'Microsoft YaHei',Meta,Arial,ping fang,sans-serif;
}
 #top .country{
  width: 90px;
  height: 20px;
  float: right;
  z-index: 100;
  margin-top: -37px;
  margin-right: -280px;
  font-weight: 400;
}
#top .country a.biaozhi{
    width: 20PX;
    height: 20PX;
    display:inline-block;
    float: left;
    cursor: pointer;
}
#top .country ul{
  width: 100px;
  height: 88px;
  display: block;
  box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.28);
  background: url(../image/impression.svg) no-repeat;
  overflow: hidden;
  margin-left: -30px;
  display: none;
  z-index: 100;
  position: absolute;
}
#top .country ul li{
  width: 96px;
  height: 28px;
  display: block;
  margin-top: 13px;
  line-height:28px;
  margin-left:3px;
}
#top .country ul li a img{
  margin-top: 4px;
  margin-left: 15px;
}
#top .country ul li a.wenZi{
  margin-left: 24px;
}
#top .country .wenZi{
  height: 20px;
  font-size: 12px;
  color: #384157;
  line-height: 20px;
  font-weight: 600;
/*   display: inline-block; */
  margin-left: 6px;
  cursor: pointer;
}
#top .country ul li #coss{
  width: 100px;
  height: 28px;
  display: inline-block;
  background: #ccc;
}
#top .country .wenZi:hover{
  border-bottom: 1px solid #384157;
}
#top .country ul .wenZi:hover{
  border-bottom: 0;
}

#top .country a img{
  width: 20px;
  height: 20px;
  display: inline-block;
} 
.head_center{
  position: absolute;
}
.head_center ul{
  display: inline-block;
  width: 530px;
}
.head_center ul li{
  display: block; 
}
.head_center ul li>a{
  font-size: 16px;
  float: left;
  height: 44px;
  line-height: 50px;
  width: 100px;
  text-align: center;
  color: #66757f;
  font-weight:400;
  font-family: Meta,sans-serif;
}
.head_center ul li.active>a{
  height: 44px;
  border-bottom: 4px solid #059FF5;
  font-weight:400;
  font-size: 16px;
  color: #059FF5;
  font-family: Meta,sans-serif;
}

.head_center ul li>a:hover{
  border-bottom: 4px solid #059FF5;
  transition: all .15s ease-in-out;
  color: #059FF5;
  font-family: Meta,sans-serif;
  
}
.login{
  width: 28px;
  height: 18px;
  font-size: 14px;
  color: #A8A8A8;;
  position: absolute;
  margin-top: 16px;
  margin-left: 804px;
  font-weight: 600;
}
.register{
  display: block;
   border: 1px solid #059FF5; 
  border-radius: 6px;
  width: 70px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  color:#059FF5;
  text-align: center;
  position: absolute;
  margin-top: 8px;
  margin-left: 867px;
  font-weight: 600;
  cursor: pointer;
}
.register:hover{
  background-color:#CDECFD;
}
#top .center .username_after{
  width: 240px;
  height: 48px;
  /* background: red; */
  position: absolute;
  margin-left:700px;
  display: none;
}
#top .center .username_after .userList{
  position: absolute;
  width: 108px;
  height: 96px;
  z-index: 100;
  top: 34px;
  left: -20px;
  display: none;
}
#top .center .username_after .userList img{
  width: 14px;
  height: 8px;
  top: 8px;
  left: 35px;
}
#top .center .username_after .userList ul{
  position: absolute;
  width: 108px;
  height: 81px;
  background: #FFF;
  margin-top: 15px;
  box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.28);
}
#top .center .username_after .userList ul li{
  width: 108px;
  height: 40px;
  border-bottom: 1px solid #E9ECEE;
  line-height: 40px;
}
#top .center .username_after .userList ul li a{
  position: absolute;
  display: block;
  width: 108px;
  height: 28px;
  color: #384157;
  text-indent: 16px;
  font-size: 12px;
  font-weight: 800;
  margin-top:6px;
  line-height: 28px;
}
#top .center .username_after .userList ul li a:hover{
  color: #FFF;
  font-weight: 800;
  background: #059FF5;
}
#top .center .username_after .userList ul li a.logout{
  color: #888B8D;
  font-weight: 200;
}
#top .center .username_after .userList ul li a:hover.logout{
  color: #FFF;
  font-weight: 800;
  background: #059FF5;
}
#top .center .username_after .xinXi{
  display: none;
}
#top .center .username_after a img{
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  left: 10px;
}
#top .center .username_after .user_money{
  display: block;
  width: 200px;
  height: 48px;
  margin-left: 66px;
  position: absolute;
}
#top .center .username_after .top{
  margin-left: 0px;
}
#top .center .username_after .user_money .common{
  width:100px;
  height: 48px;
  float: left;
  background: #F5F8FA;
  box-shadow: inset 0 1px 3px 0 rgba(255,255,255,0.50);
  font-size: 12px;
  color: #384157;
  line-height: 48px;
  cursor: pointer;
}
#top .center .username_after .user_money .common img{
    width: 20px;
  height: 20px;
  position: absolute;
  margin-left: 10px;
  margin-top: 14px;
}
#top .center .username_after .user_money .common .money{
  font-style: normal;
  font-size: 12px;
  color: #384157;
  line-height: 48px;
  margin-left: 35px;
  font-weight: 700;
}
#top .center .username_after .user_moneyHover .common .money{
  font-size: 14px;
  color: #FFF789;
}
#top .center .username_after .user_moneyHover .common .ltb_money{
  color: #95E3FF;
}
#top .center .username_after .user_moneyHover{
  position: absolute;
  width: 267px;
  height: 170px;
  z-index: 1000;
  display: none;
}
#top .center .username_after .user_moneyHover .user_money .common{
  background: rgba(0,0,0,0.80);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}
#top .center .username_after .user_moneyHover .bottom{
  width: 267px;
  height: 122px;
  background: rgba(0,0,0,0.80);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  position: absolute;
  top: 48px;
  left: -67px;
}
#top .center .username_after .user_moneyHover .bottom ul{
  width: 100px;
  height: 112px;
  margin-top: 10px;
  float: left;
}
#top .center .username_after .user_moneyHover .bottom ul li{
  width: 100px;
  height: 34px;
  font-size: 12px;
  color: #FF8886;
  line-height: 34px;
  text-shadow: 0 0 8px #000000;
  margin-left: 10px;
}
#top .center .username_after .user_moneyHover .bottom ul.userHyue{
  width: 67px;
  text-shadow: 0 0 8px #000000;
}
#top .center .username_after .user_moneyHover .bottom ul.user_btc li{
  color: #FFF789;
  margin-left: 34px;
}
#top .center .username_after .user_moneyHover .bottom ul.user_ltc li{
  margin-left: 34px;
  color: #95E3FF;
}
.left_bar {
  width: 180px;
  height:399px;
  top: 4px;
  float: left;
  
}
.left_bar .left_nav{
  width: 180px;
  height:399px;
  background: #21202D;
  top: 4px;
  float: left;
  
}
.left_bar .phpne{
  width: 180px;
  height: 36px;
}
.left_bar .phpne img{
  width: 18px;
  height: 16px;
  display: block;
  margin-top: 10px;
  margin-left: 11px;
  float: left;
}
.left_bar .phpne span{

  width: 64px;
  height: 16px;
  margin: 10px 0 0 11px;
  display: block;
  float: left;
  font-size: 16px;
color: #4A596B;
line-height: 16px;
}
.left_bar li{
  width: 180px;
  height: 34px;
}
.left_bar li a{
  width: 180px;
  height: 34px;
  font-size: 14px;
  color:#99A6BF;
  display: block;
  line-height: 34px;
  text-align: left;
  text-indent: 40px;
  cursor: pointer;
}
.left_bar li a img{
  width: 24px;
  height: 12px;
  position: absolute;
  margin-left: 30px;
  margin-top: 11px;
}
.left_bar li:hover{
  background-color: #135F91;
}

.logintip{
  display: none;
  width: 600px;
  height: 60px;
  margin:0px auto;
  text-align: center;;
  left: 50%;
  margin-left: -300px;
  overflow: hidden;
  z-index: -1;
  position: fixed;
  margin-top:0px;
  background-image: url(../image/hsts.svg);
}
 .logintip span{
  display: block;
  width: 600px;
  height: 60px;
  font-size: 14px;
  line-height: 50px;
  position: absolute;
  color: #fff;
}
/*新增退出按钮*/
.userLoginout{
  height: 48px; 
  width: 110px;
  margin-left: 997px;
  display: inline-block;
 /*  position: absolute; */
}
 .userLoginout .logoutname{
  height: 48px;
  line-height: 48px;
  font-size: 12px;
  float: left;
  display: inline-block;   
  white-space: nowrap;  
  width: 76px;   
  overflow: hidden;   
  text-overflow:ellipsis; 
    color: #9C9C9C; 
  
}
.userLoginout .logoutBtn{
  font-family:arial,PingFangSC-Regular;
  font-size: 12px;
  color: #9C9C9C;
  line-height: 12px;
  display:inline-block;
  width: 28px;
  float: left;
  margin-left: 6px;
  line-height: 48px;
  cursor: pointer;

}
.userLoginout .logoutBtn:hover{
  color: #384157;
}




/*底部*/
 #bottom{
  height: 201px;
  position: relative;
  background-image: linear-gradient(-180deg, #333D55 0%, #0D1019 100%);
}
#bottom .head{
  height: 160px;
  width: 100%;
  border-bottom: 1px solid #353B47;
  overflow: hidden;
}
#bottom #copy{
  height: 41px;
  position: relative;
}
#bottom #copy .website{
  width: 160px;
  height: 14px;
  position: absolute;
  left: 0 ;
  right: 0;
  top: 0;
  bottom: 0;
  margin:auto;
  font-size: 12px;
  color: #676E7F;
  line-height: 14px;
  margin:auto;
}
#bottom #copy .website a{
  font-size: 12px;
  color: #676E7F;
  line-height: 14px;

}
#bottom .head .lianJie{
  width: 480px;
  height: 14px;
  margin:30px auto;
}
#bottom .head .lianJie span{
  display: inline-block;
  height: 14px;
  font-size: 14px;
  color: #B1B8CB;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  background-image: url(../image/hxtzzl.svg);
}
#bottom .head .lianJie span a{
  color: #B1B8CB;
  cursor: pointer;
}
#bottom .head .lianJie span a:hover{
  border-bottom: 1px solid #B1B8CB;
}
#bottom .head .lianJie img{
  display: inline-block;
  width: 2px;
  height: 12px;
  margin: 1px 24px;
  font-size: none;

}
#bottom .head .tuPian{
  width: 300px;
  height: 34px;
  margin: 38px auto;

}
#bottom .head .tuPian a{
  border: none;
  width: 34px;
  height: 34px;
  display: block;
  margin:0px;
  float: left;
  margin-right: 26px;

}
#bottom .head .tuPian a img{
  display: block;
  width: 34px;
  height: 34px;
  /* margin-right: 26px; */
  border:none;
  margin-left: 0px;

}
#bottom .head .tuPian a:nth-child(5){
  margin-right: 0px;
}
#bottom .head .tuPian a.facebook{
  background-image: url(../image/facebook_1@1x.svg);
}
#bottom .head .tuPian a.facebook:hover{
  background-image: url(../image/facebook_2@1x.svg);
}
#bottom .head .tuPian a.twitter{
  background-image: url(../image/twitter_1@1x.svg);
}
#bottom .head .tuPian a.QQ{
  background-image: url(../image/QQ_1@1x.svg);
}
#bottom .head .tuPian a.Email{
  background-image: url(../image/Email_1@1x.svg);
}
#bottom .head .tuPian a.twitter:hover{
  background-image: url(../image/twitter_2@1x.svg);
}
#bottom .head .tuPian a.QQ:hover{
  background-image: url(../image/QQ_2@1x.svg);
}
#bottom .head .tuPian a.Email:hover{
  background-image: url(../image/Email_2@1x.svg);
}
#bottom .head .tuPian a.blog{/*blog_1.svg*/
  background-image: url(../image/blog_1.svg);
}
#bottom .head .tuPian a.blog:hover{
  background-image: url(../image/blog_2.svg);
}
#bottom .head .tuPian a.QQ .QQTip{
  width: 128px;
  height: 36px;
  position: absolute;
  margin-top: 29px;
  margin-left: -49px;
  background-image: url(../image/qq_loft.png);
  background-size: 100%;
  font-size: 12px;
  color: #D6D6D6;
  line-height: 41px;
  text-indent:56px;
  display: none;

}
#bottom .head .tuPian a.Email .EmailTip{
  width: 148px;
  height: 36px;
  position: absolute;
  margin-top: 29px;
  margin-left: -57px;
  background-image: url(../image/Email_input@1x.svg);
  background-size: 100%;
  font-size: 12px;
  color: #D6D6D6;
  line-height: 41px;
  text-align: center;
 display: none; 
}
/*右侧弹框*/
.floatRight{
 /*  width: 165px; */
  height: 116px;
  position: fixed;
    z-index: 999999;
    bottom: 40px;
    right: 10px;
}
.floatRight a{
  display:block;
  height:36px;
  margin-top: 4px;
  cursor: pointer;
}
.floatRight a.QQ i{
  display: block;
  width: 36px;
  height: 36px;
  margin-bottom: 4px;
  background-image: url(../image/qqqq.svg);
  background-size: 100%;
  float: right;

}
.floatRight a.QQ span{
  width: 128px;
  height: 36px;
  background: #12B7F5;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 36px;
  font-family:  Arial,sans-serif;
  display: block;
  float: left;
  margin-right: 1px;
  text-align: center;
  display: none;
}
.floatRight a.QQ:hover i{
  background-image: url(../image/QQ_2.png);
  background-size: 100%;
}
.floatRight a.Weixin i{
  display: block;
  width: 36px;
  height: 36px;
  margin-bottom: 4px;
  background-image: url(../image/wwwwx.svg);
  background-size: 100%;
  float: right;
}
.floatRight a.Weixin:hover i{
  background-image: url(../image/wx_2.png);
  background-size: 100%;
}
.floatRight a.Weixin span{
  display: none;
}
.floatRight a.Weixin span img{
  width: 116px;
  height: 116px;
  display: block;
  float: left;
  margin-top: -40px;
  margin-left: 12px;

}
.floatRight a.call i{
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(../image/ddddh.svg);
  background-size: 100%;
  float: right;

}
.floatRight a.call:hover i{
  background-image: url(../image/dh_2.png);
  background-size: 100%;
}
.floatRight a.call span{
  width: 128px;
  height: 36px;
  background: #47D65F;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 36px;
  font-family:  Arial,sans-serif;
  display: block;
  float: left;
  margin-right: 1px;
  text-align: center;
  display: none;
}
/*右侧浮动*/
.newFloatRight{
 /*  width: 165px; */
  height: 120px;
  position: fixed;
    z-index: 999999;
    bottom: 330px;
    right: 10px;
    cursor: pointer;
}
.newFloatRight .inviteRight{
  width: 36px;
  height: 120px;
  background-image: url(../image/yqfybj.svg);
  display: block;
  margin-bottom: 5px;
  opacity: 0.7;
}
.newFloatRight .inviteRight:hover{
  opacity: 1;
}
/*小灯泡*/

.iconkk {
  display: inline-block;
  width: 30px;
  height: 50px;
  vertical-align: top;
  position: absolute;
  margin-top: -130px;
  margin-left: 2px;
  opacity: 1;
}



.icon-wrapper {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.light-bulb {
  background: #fff;
  width: 14px;
  height: 14px;
  margin-bottom: 3px;
  border-radius: 50%;
}
.light-bulb:before {
  content: '';
  width: 8px;
  height: 0;
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 1.5px 1.5px 4px 4px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 7px solid #fff;
}
.light-bulb .thunder {
  position: absolute;
  top: 4px;
  left: 8px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation: thunderAnim 2s infinite;
          animation: thunderAnim 2s infinite;
}
.light-bulb .thunder:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 5px solid #0063A2;
  position: absolute;
}
.light-bulb .thunder:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 5px solid #0063A2;
  position: absolute;
  top: 5px;
  left: 1px;
}
.light-bulb-base {
  background: #fff;
  width: 9px;
  height: 3px;
  position: relative;
  left: 50%;
  border-radius: 1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.light-bulb-base:before {
  content: '';
  background: #fff;
  width: 6px;
  height: 3px;
  border-radius: 1.5px 1.5px 11px 11px;
  position: absolute;
  top: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes thunderAnim {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  9% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

@keyframes thunderAnim {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  9% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
.cn,.en{
  opacity: 0;
  font-style: normal;
}



